package templates

// Introduction is the landing page. Replace this content with the introduction
// for the notes collection.
templ Introduction() {
  <article id="introduction" role="document">
    <img src="/assets/taking-notes.jpeg" alt="Man sitting at a desk taking notes">
    <p>Find notes by searching <kbd>⌘ + K</kbd></p>
  </article>
}
