package templates

import "github.com/sunesimonsen/notes-viewer/notes"

templ header() {
  <header>
    <nav>
      <a class="home" href="/"><img src="/assets/logo-transparent-42x42.png" alt="Logo"> Notes</a>
      <div class="header-items">
        <a
          class="ghost only-narrow icon"
          type="button"
          title="Search"
          aria-label="Starred"
          href="/tag/star"
        >
          <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
            <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z"/>
          </svg>
        </a>
        <a
          class="ghost only-wide"
          type="button"
          title="Search"
          aria-label="Starred"
          href="/tag/star"
        >
          Starred
          <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
            <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z"/>
          </svg>
        </a>
        <button
          class="ghost only-narrow icon"
          type="button"
          title="Search"
          aria-label="Search"
          command="show-modal"
          commandfor="search-dialog"
        >
          <svg width="1.2em" height="1.2em" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
          </svg>
        </button>
        <button
          class="ghost only-wide"
          type="button"
          title="Search"
          command="show-modal"
          commandfor="search-dialog"
        >
          Search
          <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
          </svg>
        </button>
      </div>
    </nav>
  </header>
  <dialog id="search-dialog" class="search" closedby="any">
    <header>
      <p><label for="search-input">Search</label></p>
      @SearchField()
      <button type="button" rel="prev" aria-label="Close" command="close" commandfor="search-dialog" tabindex="1"></button>
    </header>
    <div id="search-results"></div>
  </dialog>
}

templ AuthLayout(part templ.Component) {
  @Page("Notes viewer") {
    <main class="auth">
      <article class="card raised">
        <section>
          @part
        </section>
      </article>
    </main>
  }
}

templ MainLayout(entries []notes.Entry, currentPath string, part templ.Component) {
  @Page("Notes viewer") {
    @header()
    <main>
      <aside class="menu">
        @NotesMenu(entries, currentPath)
      </aside>
      @part
    </main>
  }
}
